/* GENERAL CHANGES */

/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Tag HTML */
body{
    font-family: sans-serif;
}

/* Classes */
.bg-color_white{
    background-color: white;
}

.bg-color_grey{
    background-color: #f6f8f9;
}

.btn-active{
    color: white;
    background-color: #47adf1;
    border: none;
}

.btn-disactive{
    color: #d6dadd;
    background-color: white;
    border: 1px solid #d6dadd;
}



/* SPECIFIC CHANGES */

/* Header Style */
header#main-header{
    height: 6.1rem;
    padding: 0.9rem 0 1rem 1.8rem;
}

#logo-img{
    height: 4.6rem;
    vertical-align: top;
}

#logo-text{
    display: inline-block;
    font-size: 3.3rem;
}


/* Main Style */
main{
    width: 70%;
    margin: 3.8rem auto;
    padding-left: 4rem;
    border-radius: 1px;
}