/* GENERAL CHANGES */

/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Tag HTML */


/* Classes */
.bg-color_white{
    background-color: white;
}



/* SPECIFIC CHANGES */

/* Header Style */
header:first-of-type{
    height: 6.1rem;
    padding: 1rem 0 1rem 2rem;
}

#logo-img{
    height: 4.5rem;
    vertical-align: bottom;
}

#logo-text{
    display: inline-block;
    font-size: 4rem;
}