/* GENERAL CHANGES */

/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Tag HTML */
body{
    font-family: sans-serif;
}

/* Classes */
.bg-color_white{
    background-color: white;
}

.bg-color_grey{
    background-color: #f6f8f9;
}



/* SPECIFIC CHANGES */

/* Header Style */
header:first-of-type{
    height: 6.1rem;
    padding: 0.9rem 0 1rem 1.8rem;
}

#logo-img{
    height: 4.6rem;
    vertical-align: top;
}

#logo-text{
    display: inline-block;
    font-size: 3.3rem;
}